@use 'abstracts' as *;

.about-section {
  padding: 5rem;
}
.about {
  // display: grid;
  // grid-template-columns: 1fr repeat(2, minmax(min-content, 1fr)) 1fr;
  // grid-template-rows: 14rem repeat(2, min-content) 14rem;

  // padding: 0 15rem;

  @media only screen and (max-width: $bp-medium) {
    // grid-template-rows: 14rem repeat(3, min-content) 14rem;
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(30rem, 40%) minmax(40rem, 40%);
    justify-content: center;
    row-gap: 2rem;
    column-gap: 5rem;
    margin-bottom: 20rem;
    padding: 2rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 80%;
    }
  }

  &__heading {
    text-align: center;
    margin-top: 10rem;
  }

  &__text {
    margin-top: 3rem;
    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }

    P {
      margin-bottom: $margin-medium;
    }
  }
}

.image-comp {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(5, 5vw);
  grid-template-rows: repeat(4, 5vw);

  @media only screen and (max-width: $bp-medium) {
    // grid-column: 2 / 4;
    // grid-row: 4 / 5;
    // justify-self: center;

    display: flex;
    gap: 1rem;
  }

  &__img {
    width: 120%;
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    transition: all 0.2s;

    &--1 {
      grid-column: 1 / span 3;
      grid-row: 1 / 2;
      z-index: 1;

      @media only screen and (max-width: $bp-medium) {
      }
    }

    &--2 {
      grid-column: 3 / span 3;
      grid-row: 2 / -1;
      margin-top: -3vw;
      z-index: 2;

      @media only screen and (max-width: $bp-medium) {
        margin-top: 0;
      }
    }

    &--3 {
      grid-column: 2 / span 3;
      grid-row: 3 / -1;
      margin-top: -5vw;
      margin-left: -1rem;
      z-index: 3;

      @media only screen and (max-width: $bp-medium) {
        grid-column: 3 / span 2;
        grid-row: 1 / 2;
        margin-top: 0;
        margin-left: 0;
      }
    }

    &:hover {
      transform: translateY(-1rem) scale(1.1);
      z-index: 4;
      outline: 1rem solid $color-primary;
      outline-offset: 1rem;
      box-shadow: 0 1rem 2rem rgba(black, 0.5);

      @media only screen and (max-width: $bp-medium) {
        transform: translateY(-1rem) scale(1.8);
      }
    }

    //   &:not(:hover) {
    //     // transform: scale(.8);
    //   }
  }
}
