// COLORS

$color-primary: #8d6a9f;
$color-primary-light: #b291c3;
$color-primary-dark: #644275;

$color-secondary: rgb(214, 106, 33);
$color-secondary-light: rgb(59, 216, 216);
$color-secondary-dark: rgb(14, 99, 133);

$color-tertiary: rgb(26, 122, 201);
$color-tertiary-light: rgb(39, 139, 233);
$color-tertiary-dark: rgb(11, 77, 153);

$color-white: rgb(250, 246, 246);
$color-grey-light-1: rgb(235, 235, 235);
$color-grey-light-2: rgb(201, 201, 201);
$color-grey-dark: rgb(70, 70, 70);

$margin-large: 8rem;
$margin-medium: 2.5rem;
$margin-small: 1rem;

// BREAK POINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
